/*----------Variables-header-footer----------*/

$col-back: #579c87;
$col-font:#fdcb46;
$font-h-f: sans-serif, Georgia, 'Times New Roman';

/*----------Box-acceuil----------*/

$b-shadow: 0px 0px 12px 2px #c4c5c5;

/*----------Box-note----------*/

$back-note: #fcdfdb;
$font-note: #4e252a;

/*----------Box-chic----------*/

$back-chic: #fff5fe;
$col-1-chic: #c67412;
$col-2-chic: #a56799;
$col-3-chic: #6e4ccc;

/*----------Box-delice----------*/

$back-delice: #f9f9f9;
$col-1-palette: #3d9ffa;

/*----------Box-palette----------*/

$back-palette: #fdfffd;
$font-palette: #72bf56;
$color: right, #72bf56 35%, #aee972 55%;
