/*----------Titre_La_note_enchantée----------*/
@font-face {
    font-family: 'signatur';
    src: url('../fonts/signatur.eot'),
         url('../fonts/signatur.woff'),
         url('../fonts/signatur.ttf'),
         url('../fonts/signatur.svg');
  }
/*----------Menu_La_note_enchantée----------*/
@font-face{
    font-family: 'segoepr';
    src: url('../fonts/segoepr.eot'),
         url('../fonts/segoepr.woff'),
         url('../fonts/segoepr.ttf'),
         url('../fonts/segoepr.svg');
} 

/*----------Titre_Le_chic_à_la_française----------*/
@font-face{
    font-family: 'croissantone-regular';
    src: url('../fonts/croissantone-regular.eot'),
         url('../fonts/croissantone-regular.woff'),
         url('../fonts/croissantone-regular.ttf'),
         url('../fonts/croissantone-regular.svg');
} 
/*----------Menu_Le_chic_à_la_française----------*/
@font-face{
    font-family: 'karma-semibold';
    src: url('../fonts/karma-semibold.eot'),
         url('../fonts/karma-semibold.woff'),
         url('../fonts/karma-semibold.ttf'),
         url('../fonts/karma-semibold.svg');
} 
/*----------Titre_Le_délice_des_papilles----------*/
@font-face{
    font-family: 'dancingscript-semibold';
    src: url('../fonts/dancingscript-semibold.eot'),
         url('../fonts/dancingscript-semibold.woff'),
         url('../fonts/dancingscript-semibold.ttf'),
         url('../fonts/dancingscript-semibold.svg');
} 
/*----------Menu_Le_délice_des_papilles----------*/
@font-face{
    font-family: 'segoepr';
    src: url('../fonts/segoepr.eot'),
         url('../fonts/segoepr.woff'),
         url('../fonts/segoepr.ttf'),
         url('../fonts/segoepr.svg');
} 
/*----------Titre_La_palette_du_gout----------*/
@font-face{
    font-family: 'lp-pinselschrift';
    src: url('../fonts/lp-pinselschrift.eot'),
         url('../fonts/lp-pinselschrift.woff'),
         url('../fonts/lp-pinselschrift.ttf'),
         url('../fonts/lp-pinselschrift.svg');
} 
/*----------Menu_La_palette_du_gout----------*/
@font-face{
    font-family: 'segoepr';
    src: url('../fonts/segoepr.eot'),
         url('../fonts/segoepr.woff'),
         url('../fonts/segoepr.ttf'),
         url('../fonts/segoepr.svg');
} 