/*----------Général----------*/

* {
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    width: 40rem;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 40px;
    padding-top: 30px;
}
main{
    background-color: #ffffff;
    margin: 0rem 0rem 15rem 0rem;
}
/*----------Mentions-legales----------*/

.mentions {
    @include mentions;
    background-color: #e4e3e3;
    text-align: center;
    line-height: 20px;
    h2, h4 {
        padding: 30px;
    }
    a {
        text-decoration: none;
        color: $col-1-palette;
    }
}
/*----------Box-Menu-Accueil----------*/

.box__note{
    @include home-note;
 }
 
 .box__chic {
     @include home-chic;
 }
 
 .box__delice {
     @include home-delice;
 }
 
 .box__palette {
     @include home-palette;
 }